root = true

#### ? Categorized Severity Levels ####
[*.cs]
dotnet_analyzer_diagnostic.category-Performance.severity = suggestion
dotnet_analyzer_diagnostic.category-Design.severity = suggestion
dotnet_analyzer_diagnostic.category-Usage.severity = suggestion
dotnet_analyzer_diagnostic.category-Documentation.severity = suggestion
dotnet_analyzer_diagnostic.category-Naming.severity = suggestion
dotnet_analyzer_diagnostic.category-Globalization.severity = suggestion
dotnet_analyzer_diagnostic.category-Interoperability.severity = suggestion
dotnet_analyzer_diagnostic.category-Accessibility.severity = suggestion
dotnet_analyzer_diagnostic.category-Analysis.severity = suggestion
dotnet_analyzer_diagnostic.category-Compiler.severity = suggestion
#### ? Categorized Severity Levels ####

#### ? Custom Severity Levels ####
[*.cs]
#Remove unused private members
dotnet_diagnostic.IDE0051.severity = warning
#Remove unread private members
dotnet_diagnostic.IDE0052.severity = warning
#Simplify LINQ expressions
dotnet_diagnostic.IDE0120.severity = suggestion
#Simplify LINQ type check and cast
dotnet_diagnostic.IDE0121.severity = suggestion
# Add missing cases in switch expression
dotnet_diagnostic.IDE0072.severity = warning
#Remove unnecessary suppression operator
dotnet_diagnostic.IDE0080.severity = none
#Use 'nameof'
dotnet_diagnostic.IDE0280.severity = warning
#Remove unnecessary suppression
dotnet_diagnostic.IDE0079.severity = suggestion
#Using directive is unnecessary.
dotnet_diagnostic.IDE0005.severity = warning

##Sonar
# S1172: Unused method parameters should be removed
dotnet_diagnostic.S1172.severity = suggestion
# CA1304: Specify CultureInfo
dotnet_diagnostic.CA1304.severity = none
# S1871: Two branches in the same conditional structure should not have exactly the same implementation
dotnet_diagnostic.S1871.severity = suggestion
# S1449: Culture should be specified for "string" operations
dotnet_diagnostic.S1449.severity = none

#### ? Custom Severity Levels ####

#### ? Naming Conventions for C# ####
[*.cs]
# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = warning

#Pascal Case
dotnet_naming_rule.rule_for_pascal_case.symbols = pascal_tokens, constants, public_fields
dotnet_naming_rule.rule_for_pascal_case.style = pascal_case_style
dotnet_naming_style.pascal_case_style.capitalization = pascal_case

dotnet_naming_symbols.pascal_tokens.applicable_kinds = class, struct, enum, delegate, property, method, event, namespace
dotnet_naming_symbols.pascal_tokens.applicable_accessibilities = *

dotnet_naming_symbols.constants.applicable_kinds = field
dotnet_naming_symbols.constants.applicable_accessibilities = *
dotnet_naming_symbols.constants.required_modifiers = const

dotnet_naming_symbols.public_fields.applicable_kinds = field
dotnet_naming_symbols.public_fields.applicable_accessibilities = public


#Camel Case
dotnet_naming_rule.rule_for_camel_case.symbols = local_variables, local_functions
dotnet_naming_rule.rule_for_camel_case.style = camel_case_style
dotnet_naming_style.camel_case_style.capitalization = camel_case

dotnet_naming_symbols.local_variables.applicable_kinds = local, parameter
dotnet_naming_symbols.local_variables.applicable_accessibilities = *

dotnet_naming_symbols.local_functions.applicable_kinds = local_function
dotnet_naming_symbols.local_functions.applicable_accessibilities = *

#Interface Naming
dotnet_naming_rule.rule_for_interface.symbols = interface
dotnet_naming_rule.rule_for_interface.style = interface_style
dotnet_naming_style.interface_style.capitalization = pascal_case
dotnet_naming_style.interface_style.required_prefix = I
dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = *

#Generic Type Parameters Naming
dotnet_naming_rule.rule_for_generic_type_parameters.symbols = generic_type_parameter
dotnet_naming_rule.rule_for_generic_type_parameters.style = generic_type_parameter_style
dotnet_naming_style.generic_type_parameter_style.capitalization = pascal_case
dotnet_naming_style.generic_type_parameter_style.required_prefix = T
dotnet_naming_symbols.generic_type_parameter.applicable_kinds = type_parameter
dotnet_naming_symbols.generic_type_parameter.applicable_accessibilities = *

#private and internal fields naming
dotnet_naming_rule.rule_for_private_and_internal_fields.symbols = private_and_internal_field
dotnet_naming_rule.rule_for_private_and_internal_fields.style = private_and_internal_field_style
dotnet_naming_style.private_and_internal_field_style.capitalization = camel_case
dotnet_naming_style.private_and_internal_field_style.required_prefix = _
dotnet_naming_symbols.private_and_internal_field.applicable_kinds = field
dotnet_naming_symbols.private_and_internal_field.applicable_accessibilities = private, internal


csharp_preferred_modifier_order = public,private,protected,internal,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,required,volatile,async
#### ? Naming Conventions for C# ####

#### ? Formatting Options ####
[*.cs]
#Directives
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true

#New Lines
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true

#Indentation
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_labels = flush_left
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents_when_block = true

#Spacing
csharp_space_after_cast = true
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_parentheses = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_around_binary_operators = before_and_after
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_after_comma = true
csharp_space_before_comma = false
csharp_space_after_dot = false
csharp_space_before_dot = false
csharp_space_after_semicolon_in_for_statement = true
csharp_space_before_semicolon_in_for_statement = false
csharp_space_around_declaration_statements = false
csharp_space_before_open_square_brackets = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_square_brackets = false

#Wrapping
csharp_preserve_single_line_statements = true
csharp_preserve_single_line_blocks = true
#### ? Formatting Options ####

#### ? Rule Preferences ####
[*.cs]
#Directives
csharp_using_directive_placement = outside_namespace:warning
csharp_style_namespace_declarations = file_scoped:warning

#Block Preferences
csharp_prefer_braces = when_multiline:suggestion
csharp_prefer_simple_using_statement = false:suggestion
csharp_type_prefer_method_group_conversion = true:suggestion
csharp_style_prefer_top_level_statements = true:suggestion
csharp_style_prefer_primary_constructor = true:warning

#Expression-bodied members
csharp_style_expression_bodied_constructors = when_on_single_line:suggestion
csharp_style_expression_bodied_methods = when_on_single_line:suggestion
csharp_style_expression_bodied_operators = when_on_single_line:suggestion
csharp_style_expression_bodied_properties = when_on_single_line:suggestion
csharp_style_expression_bodied_indexers = when_on_single_line:suggestion
csharp_style_expression_bodied_accessors = when_on_single_line:suggestion
csharp_style_expression_bodied_lambdas = when_on_single_line:suggestion
csharp_style_expression_bodied_local_functions = when_on_single_line:suggestion

#Expression-level preferences
dotnet_style_object_initializer: true:suggestion
dotnet_style_prefer_collection_expressions = true:suggestion
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_prefer_auto_properties = true:suggestion
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:suggestion
dotnet_style_prefer_conditional_expression_over_assignment = true:suggestion
dotnet_style_prefer_conditional_expression_over_return = true:suggestion
dotnet_style_prefer_compound_assignment = true:suggestion
csharp_style_unused_value_expression_statement_preference = discard_variable:suggestion
csharp_style_unused_value_assignment_preference = discard_variable:suggestion
dotnet_style_prefer_simplified_interpolation = true:suggestion
dotnet_style_prefer_simplified_boolean_expressions = true:suggestion
dotnet_style_namespace_match_folder= true:warning

#Style Rules
csharp_style_throw_expression = true:suggestion
csharp_style_inlined_variable_declaration = true:suggestion
csharp_prefer_simple_default_expression = true:suggestion
csharp_style_prefer_local_over_anonymous_function = true:suggestion
csharp_style_deconstructed_variable_declaration = true:suggestion
csharp_style_prefer_index_operator = true:suggestion
csharp_style_prefer_range_operator = true:suggestion
csharp_style_implicit_object_creation_when_type_is_apparent = true:suggestion
csharp_style_prefer_null_check_over_type_check = true:suggestion
csharp_style_prefer_tuple_swap = true:suggestion
dotnet_style_prefer_foreach_explicit_cast_in_source = true:suggestion
csharp_style_prefer_implicitly_typed_lambda_expression = true:suggestion
dotnet_style_readonly_field = true:suggestion
dotnet_style_predefined_type_for_locals_parameters_members = true:warning

#Modifier Preferences
csharp_prefer_static_local_function = true:suggestion
csharp_style_prefer_readonly_struct = true:suggestion
csharp_style_prefer_readonly_struct_members = true:suggestion
csharp_prefer_static_anonymous_function = true:suggestion

#Other Preferences
csharp_style_conditional_delegate_call = true:suggestion
dotnet_code_quality_unused_parameters = all:warning

#Parenthesis Preferences
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:suggestion
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:suggestion
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:suggestion
dotnet_style_parentheses_in_other_operators = always_for_clarity:suggestion

#Pattern Matching Preferences
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_prefer_switch_expression = true:suggestion
csharp_style_prefer_pattern_matching = true:suggestion
csharp_style_prefer_not_pattern = true:suggestion
csharp_style_prefer_extended_property_pattern = true:suggestion

#This and me
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_event = false:suggestion
dotnet_style_qualification_for_method = false:suggestion

#var preferences
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = false:suggestion
#### ? Rule Preferences ####

#### ? Roslynator ####
dotnet_analyzer_diagnostic.category-roslynator.severity = suggestion
roslynator_analyzers.enabled_by_default = true
roslynator_refactorings.enabled = true
roslynator_compiler_diagnostic_fixes.enabled = true

roslynator_accessibility_modifiers = explicit
roslynator_accessor_braces_style = single_line_when_expression_is_on_single_line
roslynator_array_creation_type_style = implicit_when_type_is_obvious
roslynator_arrow_token_new_line = before
roslynator_binary_operator_new_line = before
roslynator_blank_line_between_single_line_accessors = false
roslynator_blank_line_between_using_directives = never
roslynator_block_braces_style = multi_line
roslynator_conditional_operator_condition_parentheses_style = include
roslynator_conditional_operator_new_line = before
roslynator_configure_await = true
roslynator_empty_string_style = literal
roslynator_enum_has_flag_style = operator
roslynator_equals_token_new_line = before
roslynator_max_line_length = 150
roslynator_new_line_at_end_of_file = true
roslynator_new_line_before_while_in_do_statement = true
roslynator_null_conditional_operator_new_line = after
roslynator_null_check_style = pattern_matching
roslynator_object_creation_parentheses_style = include
roslynator_object_creation_type_style = implicit_when_type_is_obvious
roslynator_prefix_field_identifier_with_underscore = true
roslynator_use_anonymous_function_or_method_group = anonymous_function
roslynator_use_block_body_when_declaration_spans_over_multiple_lines = true
roslynator_use_block_body_when_expression_spans_over_multiple_lines = true
roslynator_use_var_instead_of_implicit_object_creation = true
roslynator_infinite_loop_style = while
roslynator_doc_comment_summary_style = multi_line
roslynator_enum_flag_value_style = shift_operator
roslynator_blank_line_after_file_scoped_namespace_declaration = true
roslynator_null_check_style = pattern_matching
roslynator_trailing_comma_style = omit_when_single_line
roslynator_use_collection_expression = true
roslynator_blank_line_between_switch_sections = omit
roslynator_use_var = when_type_is_obvious
#### ? Roslynator ####